.pill {
	background-color: transparent;
	border: 2px solid hsl(240, 3%, 46%);
	border-radius: 5px;
	cursor: pointer;
	color: hsl(0, 0%, 100%);
	font-size: clamp(0.85rem, 1.2vw, 1rem);
	text-wrap: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	padding: 5px 1.3rem;
}

.highlighted {
	border-color: hsl(210, 100%, 65%);
	color: hsl(210, 100%, 65%);
}
