.pill {
	background-color: transparent;
	border: 2px solid hsl(240, 3%, 46%);
	border-radius: 5px;
	cursor: pointer;
	color: hsl(0, 0%, 100%);
	font-size: clamp(0.85rem, 1.2vw, 1rem);
	text-wrap: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	padding: 5px 1.3rem;
}

.pill:focus {
	outline: 2px solid hsl(210, 100%, 65%);
	outline-offset: 3px;
}

.highlighted {
	border-color: hsl(210, 100%, 65%);
	color: hsl(210, 100%, 65%);
}

@media only screen and (hover: hover) {
	.pill:hover:not(.highlighted) {
		border-color: hsl(210, 100%, 65%);
		color: hsl(210, 100%, 65%);
	}
}

@media only screen and (prefers-reduced-motion: no-preference) {
	.pill:not(.highlighted) {
		transition: border 0.3s ease;
	}
}
