.pill {
	border-radius: 5px;
	outline: 2px solid hsl(240, 3%, 46%);
	cursor: pointer;
	color: hsl(0, 0%, 100%);
	font-size: 0.95rem;
	text-align: center;
	padding-inline: 1.3rem;
}

.highlighted {
	outline-color: hsl(214, 100%, 55%);
	color: hsl(214, 100%, 55%);
}
