.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 35px;
}

.personalBestContainer {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.dl {
	display: flex;
	align-items: center;
	column-gap: 5px;
}

.dt {
	color: hsl(240, 1%, 59%);
}

.dd {
	color: hsl(0, 0%, 100%);
}
